@import './variables.scss';
@import './videos.scss';
@import './video.scss';
@import './upload.scss';
@import './home.scss';
@import './user.scss';
@import './register.scss';
@import './login.scss';
@import './profile.scss';

html {
    height: 100%;
}

body {
    margin: 0px;
    font-size: 16px;
    height: 100%;
    background-color: #334D5C;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
    margin: 0px;
    padding: 0px;
}

input {
    outline: none;
}

.btn-main {
    padding: 10px 20px;
    border: 1px solid $main-color;
    background-color: #334d5c;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.authenticate-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.authenticate-fields input {
    border: none;
    border-bottom: 1px solid $main-color;
    width: 200px;
    background-color: #334d5c;
    font-size: 14px;
    height: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.authenticate-fields input::placeholder {
    color: #fff;
    text-align: center;
}

.hidden {
  display: none;
}
