@import './variables.scss';
@import './videos.scss';
@import './video.scss';
@import './upload.scss';
@import './home.scss';
@import './user.scss';
@import './register.scss';
@import './login.scss';
@import './profile.scss';
html {
    height: 100%;
}

body {
    margin: 0px;
    font-size: 16px;
    height: 100%;
    background-color: #334D5C;
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
{
    margin: 0px;
    padding: 0px;
}

input {
    outline: none;
}

.btn-main {
    padding: 10px 20px;
    border: 1px solid $main-color;
    background-color: #334d5c;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.authenticate-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.authenticate-fields input {
    border: none;
    border-bottom: 1px solid $main-color;
    width: 200px;
    background-color: #334d5c;
    font-size: 14px;
    height: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.authenticate-fields input::placeholder {
    color: #fff;
    text-align: center;
}

.hidden {
    display: none;
}

.interactive-labels {
    margin-bottom: 20px;
    position: relative;
    width: 200px;
    input {
        position: relative;
        width: 100%;
        height: 40px;
        border: none;
        padding: 20px 0px 0px 5px;
        font-size: 1.125rem;
        box-sizing: border-box;
    }
    label.active {
        transform: translateY(-75%);
        font-size: 14px;
    }
    label {
        position: absolute;
        z-index: 2;
        color: #334d5c;
        padding: 5px;
        box-sizing: border-box;
        font-size: 1rem;
        top: 50%;
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
        line-height: 1.125rem;
        transform: translateY(-50%) translate3d(0, 0, 0);
        transition:  all .1s cubic-bezier(0.57, 0.54, 0.49, 0.47);
    }
}

.error *{
  color: red !important;
}
.error {
  input {
    border: 1px solid red;
  }
}
