.profile {
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 35%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
    }
    &-title {
        margin-bottom: 20px;
        text-align: center;
        &-element {
          color: $main-color;
        }
    }

}

.interactive-labels {
  width: 250px !important;
  input {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 0px;
  }
}
