$img-dimensions: 150px;
.profile {
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 35%;
        margin: auto;
        padding: 20px;
        box-sizing: border-box;
        background: $main-color;
        box-shadow: $main-shadow;
    }
    &-title {
        color: #fff;
        margin-bottom: 20px;
        text-align: center;
    }
    &-avatar {
        &-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        &-info {
            width: 100%;
            font-size: 1.25rem;
            text-align: center;
            color: #fff;
        }
        &-upload-btn {
            display: flex;
            width: 50px;
            justify-content: center;
        }
        &-preview {
            width: $img-dimensions;
            height: $img-dimensions;
            position: relative;
            &-close {
                position: absolute;
                font-size: 1.25rem;
                top: 0;
                right: 0;
            }
            &-img {
                width: $img-dimensions;
                height: $img-dimensions;
            }
        }
    }
}
