.user {
    &-card {
        background-color: #358b85 !important;
        background-position: 100% 100% !important;
        box-shadow: $main-shadow;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        &-avatar {
            max-height: 150px;
            max-width: 150px;
        }

    }
    &-info {
        background-color: #fff;
        margin-bottom: 50px;
        &-username {
            text-transform: capitalize;
            font-size: 4rem;
        }
    }
      &-change-cover-btn {
        margin: 0px;
        outline: none;
        max-width: 100px;
        align-self: center;
      }
}
